/****General****/
* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #9356dc;
  --secondary-color: #ff79da;
  --tertiary-color: #99e2d0;
}

body {
  display: flex;
  justify-content: center;
}

/****Main Page****/

.logo-section {
  display: flex;
  justify-content: center;
  width: fit-content;
  height: fit-content;
}

.location-section {
  display: flex;
  justify-content: center;
  gap: 5px;
  background-color: #e6e6e6;
  border-top: 3px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
  font-size: 20px;
}
/****Explore Section ****/
.explore-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  align-items: center;
  padding: 10px;

  background-color: #f6f6f6;
}
.explore-content.explore-button {
  width: 218px;
  height: 50px;
  border-radius: 25px;
  border: 0;
  background-image: linear-gradient(
    var(--secondary-color),
    var(--primary-color)
  );
  color: white;
  font-style: bold;
  background-color: yellow;
}

/****How it works section ****/
.instruction-list {
  font-family: "Roboto", cursive;
  list-style: none;
  width: 322px;
  height: 72px;
}
.instruction-list :first-child {
  background-color: #f6f6f6;
  border-radius: 20px;
}
/****Restaurant Listing -- Main Page****/
.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.restaurant-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 10px;
  background-color: #f6f6f6;
}

.card-restaurant-image {
  height: 231px;
  width: 346px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-status-background {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 29px;
  top: 13px;
  left: 248px;
  position: absolute;
  background-color: var(--tertiary-color);
  border-radius: 2px;
}
.card-restaurant-status {
  color: #008766;
}
.card-restaurant-top {
  position: relative;
  max-width: 3346px;
}
.card img {
  object-fit: cover;
  height: 231px;
  width: 346px;
}

.card-title {
  font-size: 16px;
}
.card-restaurant {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 346px;
  background-color: white;
  border-radius: 15px;
  gap: 10px;
}
.card-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 20px;
  padding-bottom: 15px;
}
.card-heart {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 25px;
  font-size: 22px;
}

/**** Footer ****/
.footer-section {
  display: flex;
  flex: auto;
  background-color: #414141;
  color: white;
  padding-left: 25px;
}
.footer-title {
  display: flex;
  font-family: "Shrikhand", cursive;
  font-size: 20px;
}
.footer-list {
  display: flex;
  flex-direction: column;
  align-content: left;
  list-style: none;
}
.footer-icon {
  width: 30px;
  display: inline-block;
  background-color: brown;
}
